body {
    text-align: center;
    background-image: url("images/mainBackground.png");
    background-size: cover;
    color: white;
}
content {
    display:inline-block;
    align-items: center;
    width: 800px;
    border: 4px white solid;
    height: 825px;
    padding: 0 20px 0 20px;
    border-radius: 7px;
    font-family: 'Staatliches', cursive;
    background: black;
}
header {
    display: flex;
    justify-content: space-evenly;

}
h1 {
    padding: 15px 0 0 0;
    height: 75px;
    font-size: 5em;
    margin: 0 0 30px 30px;
    font-family: 'Monoton', cursive; 
    

}
.button:focus {
    outline: none;
}
#wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#letterBank {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background: black;
    justify-content: space-evenly;
    height: 510px;
    width: 80px;
    font-weight: bolder;
    font-size: 24px;
    color: white;
    font-family: 'Staatliches', cursive;
}
.letters {
    height: 10px;
    width: 13px;
    border: 2px white solid;
    margin: 0px 3px 3px 3px;
    padding: 0px 5px 17px 2px;
    font-size: 22px;
    border-radius: 7px;
}


#opener {
    display: flex;
    flex-direction: column;

}
#imgContainer {
    width: 700px;
    height: 380px;
    margin-top: 0px;

}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
}

#explanation {
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    margin: 15px 150px 0 150px;
    font-size: 17px;
    

    
}
#scoreHeader {
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-left: 2px;
}
#scoreboardContainer {
    width: 690px;
    height: 100px;
    padding: 0;
    margin: 0;
    margin-right: 0px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
}
.scoreNumbers {
    text-align: center;
    font-size: 5em;
}

.wrong {
    height: 20px;
    margin-top: 50px;
    margin-bottom: 0;
    padding-bottom: 17px;
    width: 40px;
    border-bottom: 2px white solid;
    font-size: 2em;
    font-weight: 800;
}
ol {
    margin: 0 30px 0 0;
    display: flex;
    justify-content: center;

};

#inputBox {
    margin: 0px 20px 0 0;
    text-align: center;

    
}
.right{
    height: 20px;
    width: 50px;
    border-bottom: 2px white solid;
    margin: 40px 25px 0 0px;
    padding-bottom: 17px;
    font-size: 2em;
    font-weight: 800;

}

.button {
    width: 100px;
    height: 29px;
    background-color: magenta;
    color: cyan;
    border: 2px cyan solid;
    margin-top: 40px;
    margin-right: 14px;
    font-size: 18px;
    border-radius: 13px;
    font-family: 'Staatliches', cursive;
    padding-top: 2px;

}
.button:hover {
    background: red;
}

footer {
    margin: 60px 0 0 0;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    color: white;


}
@media (max-width: 830px) {
    header {
        width: 830px;
    }
    h1 {
        margin-right: 30px;
    }
} 
